.img-501
  width: 150px !important
  
.img-c  
  justify-content: center!important
  display: block
  margin: 0 auto
  object-fit: contain !important

.bl-blue
  background-color: #E6F7FF !important
.bl-blue2
  background-color: #ACE1FA !important

.bl-bl
  background-color: #000000 !important
  color: #fff !important
.bl-bl1
  background-color: #1565C0 !important
  color: #fff !important

.pp-2
  font-size: 20px
  font-weight: 400
  line-height: 1.5
  color: #ffffff


.bl-gr
  background-color: #f5f5f5 !important

.l-b
  color: #fff !important 

.hr1
  border: 09px solid #B5B5B5
  margin-bottom: 1.5rem


thead 
  background-color: #fff5d5

.columna-30
  width: 30% !important
  padding: 1.5rem!important
  background-color: #fff5d5
.columna-70
  width: 70% !important
  background-color: #fff5d5
  padding: 1.5rem!important
td
  padding: 1.5rem!important


.cajon.color-primario:before 
    background-color: #4DD0E1

img, svg
    width: auto
    align-content: center
    align-items: center

td
  background-color: #ffffff




